fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
chromadb
pypdf
tiktoken
python-dotenv
docx2txt
pandas
openpyxl
Pillow
google-generativeai
python-pptx
python-docx
pymupdf
