fastapi
uvicorn
python-multipart
python-dotenv
motor
openai
bcrypt
pyjwt
google-generativeai
python-docx
pypdf
python-pptx
openpyxl
pymupdf
python-multipart
pydantic[email]
langchain
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
tiktoken
docx2txt
pandas
Pillow
